@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Tiny5&display=swap');

$inter-font: "Inter", sans-serif;
$Permanent-font: "Permanent Marker", serif;
$red: #cc2229;

body {
    background-color: #F8F8FF;
    margin: auto;
    font-family: $inter-font;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    nav{
        display: flex;
        align-items: center;
    }

    img {
        height: 100px;
        width: auto;
        margin-left: 30px;
    }

    li {
        list-style: none;
    }

    ul {
        display: flex;
        padding: 0%;
        align-items: center;
    }

    .Menus{
        width: 50%;
        justify-content: space-between;
        font-size: 22px;
        font-weight: 500;
        margin-right: 30px;

        li{
            padding-right: 50px;
        }

        .buttons{
            li{
                padding-right: 0%;
            }
        }
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    .button{
        font-size: 22px;
        font-weight: 500;
        box-sizing: border-box;
        padding: 10px 0px 10px 0px;
        width: 100px;
        border: 0px;
        cursor: pointer;

        &-1{
            background-color: black;
            color: white;
        }

        &-2{
            background-color: $red;
            color: white;
        }

        &:hover{
            background-color: white;
            color: black;
            border: 3px solid $red;
            transition: 2s;
        }

        &:not(:hover){
            transition: 2s;
        }
    }

}

main {
    .intro{
        width: 75%;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'image detail';
        margin-bottom: 100px;

        img{
            max-width: 100%;
            height: auto;
        }

        p{
            padding: 0%;
            margin: 15px;
        }

        .watch-detail{
            box-sizing: border-box;
            padding-right: 30px;
            .collab {
                font-size: 22px;
                font-weight: 500;
                color: #393E46
            }

            .watch-title{
                font-size: 52px;
                font-weight: 600;
            }
            .watch-desc{
                font-size: 22px;
                font-weight: 500;
            }
        }

        button {
            margin-left: 15px;
            margin-top: 15px;
            box-sizing: border-box;
            padding: 15px 25px 15px 25px;
            border-radius: 0%;
            border: 0px;
            background-color: black;
            color: white;
            font-size: 18px;
            cursor: pointer;

            &:hover{
                background-color: white;
                color: black;
                border: 3px solid $red;
                transition: 2s;
            }

            &:not(:hover){
                transition: 2s;
            }
        }

        .Cart{
            margin-left: auto;
            background-color: $red;
        }
    }

    .watch-img{
        grid-area: image;
    }

    .watch-detail {
        grid-area: detail;
        align-self: center;
    }

    .about{
        display: flex;
        height: auto;
        background-image: url("/images/G-shock logo.png");
        background-size:200px;
        background-repeat: repeat;
        background-position-x: center;

        p{
            display: flex;
            align-items: center;
            margin: 0px;
            box-sizing: border-box;
            padding: 0px 100px 0px 100px;
            font-family: $Permanent-font;
            font-size: 2.177vw;
            font-weight: 600;
            text-align: center;
            justify-self: center;
            width: 100%;
            background-color: rgba(248, 248, 255, 0.9);
        }

        img{
            object-fit: contain;
            background-color: rgba(248, 248, 255, 0.9);
            max-height: 400px;
            width: auto;
        }
    }

    .feature-section{
        box-sizing: border-box;
        padding: 50px;

        .feature-heading{
            font-size: 22px;
            text-align: center;
            margin-bottom: 50px;
        }

        .features-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "feature-1 feature-2 feature-3"
            "feature-4 feature-5 feature-6";
            gap: 50px;
            justify-self: center;
            text-align: center;

            .feature{
                background-color: $red;
                color: black;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 24px;
                font-weight: 600;
                height: 260px;
                width: 260px;
            }

            p{
                margin: 0%;
            }

            .feature img{
                height: 200px;
                width: 200px;
                object-fit: contain;
            }

            .feature-1{
                grid-area: feature-1;
            }

            .feature-2{
                grid-area: feature-2;
            }

            .feature-3{
                grid-area: feature-3;
            }

            .feature-4{
                grid-area: feature-4;
            }

            .feature-5{
                grid-area: feature-5;
            }

            .feature-6{
                grid-area: feature-6;
            }
        }

    }

    
    .collection-heading{
        font-size: 22px;
        text-align: center;
        margin-bottom: 50px;
    }

    .swiper {
        width: 70%;
        height: 100%;
      }
      
    .swiper-slide {
        text-align: center;
        font-size: 32px;
        font-weight: 600;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    .swiper-slide img {
        display: block;
        width: 250px;
        height: auto;
        object-fit: cover;
      }
      
    .swiper {
        margin-left: auto;
        margin-right: auto;
      }
      
    .swiper-button-prev, .swiper-button-next {
        color: #cc2229;
      }

      .swiper-pagination-bullet-active{
        background-color: #cc2229;
    }

    .swiper-button-prev:after, .swiper-button-next:after{
        padding-bottom: 100px;
    }

}

footer{
    margin-top: 50px;
    background-color: black;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img{
        max-height: 200px;
        width: auto;
        object-fit: contain;
    }

    h1, p, ul, li {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    li{
        font-size: 16px;
        cursor: pointer;
        padding-bottom: 10px;

        &:hover{
            color: $red;
        }
    }

    .links{
        h1{
            font-weight: 500;
            font-size: 26px;
            padding-bottom: 20px;
        }
    }

    .News{
        h1{
            font-weight: 500;
            font-size: 26px;
            padding-bottom: 10px;
        }

        p{
            font-size: 16px;
            width: 80%;
            padding: 10px 0px 10px 0px;
        }

        label{
            display: flex;
            border-bottom: 2px solid white;
            width: 80%;
            justify-content: space-between;

            button {
                background-color: black;
                border: 0px;
            }
            img{
                max-width: 25px;
                height: auto;
                object-fit: contain;
                border: 2px solid white;
                align-self: center;
                cursor: pointer;

                &:hover {
                    filter: invert(100);
                    border: 2px solid black;
                }
            }
        }

        input{
            width: 100%;
            padding: 5px 0px 5px 0px;
            background-color: black;
            border: 0;
            color: white;
            padding: 10px 0px;

            &:focus {
                outline: none;
            }

            &::placeholder{
                color: white;
                padding-bottom: 10px;
            }
        }
    }

    .social-media{
        margin-top: 5px;
        ul{
            display: flex;

            li{
                padding: 0px;
                margin-right: 10px;
                margin-top: 10px;
                border-radius: 50%;
                max-height: 25px;
                max-width: 25px;
                padding: 10px;

                &:hover{
                    background-color: $red;
                }
            }

        }

        img{
            max-height: 100%;
            width: auto;
            object-fit: contain;
            filter: invert(100);
        }
    }
}

.copyright{
    background-color: black;
    color: white;

    p{
        margin: 0%;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
    }
}