@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Tiny5&display=swap");
body {
  background-color: #F8F8FF;
  margin: auto;
  font-family: "Inter", sans-serif;
}

::-moz-selection {
  background-color: #cc2229;
  color: #F8F8FF;
}

::selection {
  background-color: #cc2229;
  color: #F8F8FF;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
header nav .menu span {
  height: 5px;
  width: 100%;
  background-color: #cc2229;
}
header img {
  height: 100px;
  width: auto;
  margin-left: 30px;
}
header li {
  list-style: none;
}
header ul {
  display: flex;
  padding: 0%;
  align-items: center;
}
header .Menus {
  width: 50%;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  margin-right: 30px;
}
header .Menus li {
  box-sizing: border-box;
  padding-right: 50px;
}
header .Menus .buttons li {
  padding-right: 0%;
}
header a {
  text-decoration: none;
  color: black;
}
header .button {
  font-size: 22px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  width: 100px;
  border: 0px;
  cursor: pointer;
}
header .button-1 {
  background-color: black;
  color: white;
}
header .button-2 {
  background-color: #cc2229;
  color: white;
}
header .button:hover {
  background-color: white;
  color: black;
  border: 3px solid #cc2229;
  transition: 2s;
}
header .button:not(:hover) {
  transition: 2s;
}

main {
  margin-top: 20px;
}
main .intro {
  width: 75%;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image detail";
  margin-bottom: 100px;
}
main .intro img {
  width: 100%;
  height: auto;
}
main .intro p {
  padding: 0%;
  margin: 15px;
}
main .intro .watch-detail {
  box-sizing: border-box;
  padding-right: 30px;
}
main .intro .watch-detail .collab {
  font-size: 22px;
  font-weight: 500;
  color: #393E46;
}
main .intro .watch-detail .watch-title {
  font-size: 52px;
  font-weight: 600;
}
main .intro .watch-detail .watch-desc {
  font-size: 22px;
  font-weight: 500;
}
main .intro button {
  margin-left: 15px;
  margin-top: 15px;
  box-sizing: border-box;
  padding: 15px 25px 15px 25px;
  border-radius: 0%;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
main .intro button:hover {
  background-color: white;
  color: black;
  border: 3px solid #cc2229;
  transition: 2s;
}
main .intro button:not(:hover) {
  transition: 2s;
}
main .intro .Cart {
  margin-left: auto;
  background-color: #cc2229;
}
main .watch-img {
  grid-area: image;
}
main .watch-detail {
  grid-area: detail;
  align-self: center;
}
main .about {
  display: flex;
  height: auto;
  background-image: url("/images/G-shock logo.png");
  background-size: 200px;
  background-repeat: repeat;
  background-position-x: center;
}
main .about p {
  display: flex;
  align-items: center;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px 100px 0px 100px;
  font-family: "Permanent Marker", serif;
  font-size: 2.4vw;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  width: 100%;
  background-color: rgba(248, 248, 255, 0.9);
}
main .about img {
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(248, 248, 255, 0.9);
  max-height: 400px;
  width: auto;
}
main .feature-section {
  box-sizing: border-box;
  padding: 50px;
}
main .feature-section .feature-heading {
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
}
main .feature-section .features-container {
  display: grid;
  grid-auto-columns: minmax(100px, 0.5fr);
  grid-auto-rows: minmax(100px, 0.97fr);
  grid-template-areas: "feature-1 feature-2 feature-3 feature-6" "feature-1 feature-4 feature-5 feature-6";
  gap: 50px;
  justify-self: center;
  text-align: center;
}
main .feature-section .features-container .feature {
  background-color: #cc2229;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
}
main .feature-section .features-container p {
  margin: 0%;
}
main .feature-section .features-container .feature img {
  height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .feature-section .features-container .feature-1 {
  grid-area: feature-1;
}
main .feature-section .features-container .feature-2 {
  grid-area: feature-2;
}
main .feature-section .features-container .feature-3 {
  grid-area: feature-3;
}
main .feature-section .features-container .feature-4 {
  grid-area: feature-4;
}
main .feature-section .features-container .feature-5 {
  grid-area: feature-5;
}
main .feature-section .features-container .feature-6 {
  grid-area: feature-6;
}
main .collection-heading {
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
}
main .swiper {
  width: 70%;
  height: 100%;
}
main .swiper-slide {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .swiper-slide img {
  display: block;
  width: 250px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .swiper {
  margin-left: auto;
  margin-right: auto;
}
main .swiper-button-prev, main .swiper-button-next {
  color: #cc2229;
}
main .swiper-pagination-bullet-active {
  background-color: #cc2229;
}
main .swiper-button-prev:after, main .swiper-button-next:after {
  padding-bottom: 100px;
}

footer {
  margin-top: 50px;
  background-color: black;
  box-sizing: border-box;
  padding: 50px 50px 50px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer img {
  max-height: 200px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
footer h1, footer p, footer ul, footer li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
footer li {
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 10px;
}
footer li:hover {
  color: #cc2229;
}
footer .links h1 {
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 20px;
}
footer .News h1 {
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 10px;
}
footer .News p {
  font-size: 16px;
  width: 80%;
  padding: 10px 0px 10px 0px;
}
footer .News label {
  display: flex;
  border-bottom: 2px solid white;
  width: 80%;
  justify-content: space-between;
}
footer .News label button {
  background-color: black;
  border: 0px;
}
footer .News label img {
  max-width: 25px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid white;
  align-self: center;
  cursor: pointer;
}
footer .News label img:hover {
  filter: invert(100);
  border: 2px solid black;
}
footer .News input {
  width: 100%;
  padding: 5px 0px 5px 0px;
  background-color: black;
  border: 0;
  color: white;
  padding: 10px 0px;
}
footer .News input:focus {
  outline: none;
}
footer .News input::-moz-placeholder {
  color: white;
  padding-bottom: 10px;
}
footer .News input::placeholder {
  color: white;
  padding-bottom: 10px;
}
footer .social-media {
  margin-top: 5px;
}
footer .social-media ul {
  display: flex;
}
footer .social-media ul li {
  padding: 0px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  max-height: 25px;
  max-width: 25px;
  padding: 10px;
}
footer .social-media ul li:hover {
  background-color: #cc2229;
}
footer .social-media img {
  max-height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(100);
}

.copyright {
  background-color: black;
  color: white;
}
.copyright p {
  margin: 0%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.login-bg, .signup-bg {
  height: 100vh;
  width: 100%;
  background-image: url("/images/G-shock logo.png");
  background-size: 200px;
  background-repeat: repeat;
  background-position-x: center;
}
.login-bg .login-bg-2, .signup-bg .login-bg-2, .signup-bg .signup-bg-2 {
  background-color: rgba(248, 248, 255, 0.9);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-bg .login-bg-2 .login-box, .signup-bg .login-bg-2 .login-box, .signup-bg .signup-bg-2 .login-box, .signup-bg .signup-bg-2 .signup-box {
  border: 5px #cc2229 solid;
  border-radius: 10px;
  width: 30%;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  background-color: #F8F8FF;
  margin-top: 100px;
  justify-content: space-between;
}
.login-bg .login-bg-2 .login-box form, .signup-bg .login-bg-2 .login-box form, .signup-bg .signup-bg-2 .login-box form, .signup-bg .signup-bg-2 .signup-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-bg .login-bg-2 .login-box label, .signup-bg .login-bg-2 .login-box label, .signup-bg .signup-bg-2 .login-box label, .signup-bg .signup-bg-2 .signup-box label {
  width: 100%;
}
.login-bg .login-bg-2 .login-box input, .signup-bg .login-bg-2 .login-box input, .signup-bg .signup-bg-2 .login-box input, .signup-bg .signup-bg-2 .signup-box input {
  width: 100%;
  background-color: #F8F8FF;
  border: 0px;
  font-size: 16px;
  border-bottom: 3px black solid;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.login-bg .login-bg-2 .login-box input:focus, .signup-bg .login-bg-2 .login-box input:focus, .signup-bg .signup-bg-2 .login-box input:focus, .signup-bg .signup-bg-2 .signup-box input:focus {
  outline: none;
}
.login-bg .login-bg-2 .login-box input::-moz-placeholder, .signup-bg .login-bg-2 .login-box input::-moz-placeholder, .signup-bg .signup-bg-2 .login-box input::-moz-placeholder, .signup-bg .signup-bg-2 .signup-box input::-moz-placeholder {
  color: black;
}
.login-bg .login-bg-2 .login-box input::placeholder, .signup-bg .login-bg-2 .login-box input::placeholder, .signup-bg .signup-bg-2 .login-box input::placeholder, .signup-bg .signup-bg-2 .signup-box input::placeholder {
  color: black;
}
.login-bg .login-bg-2 .login-box button, .signup-bg .login-bg-2 .login-box button, .signup-bg .signup-bg-2 .login-box button, .signup-bg .signup-bg-2 .signup-box button {
  width: 100%;
  background-color: #cc2229;
  border: 0px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
}
.login-bg .login-bg-2 h1, .signup-bg .login-bg-2 h1, .signup-bg .signup-bg-2 h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 34px;
}

@media (max-width: 1488px) {
  main .intro {
    width: 100%;
  }
  main .intro img {
    width: 70%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    justify-self: center;
  }
  main .intro .watch_img {
    display: flex;
    justify-content: center;
  }
  main .about p {
    padding: 0px 50px 0px 50px;
  }
}
@media (max-width: 1023px) {
  header {
    flex-direction: column;
  }
  header .Logo {
    justify-content: center;
  }
  header .Menus {
    margin-right: 0px;
  }
  header .Menus a {
    color: white;
  }
  header nav .menu {
    display: flex;
  }
  header img {
    height: 70px;
  }
  header .Menus li {
    width: 100%;
    padding-right: 0%;
    font-size: 28px;
  }
  nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #cc2229;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  nav ul.open {
    display: none;
  }
  nav ul li {
    margin-bottom: 10px;
  }
  nav ul .button {
    font-size: 28px;
    width: 50%;
    background-color: #F8F8FF;
    color: #cc2229;
    border-radius: 5px;
  }
  main .intro .watch-detail .collab {
    font-size: 18px;
  }
  main .intro .watch-detail .watch-title {
    font-size: 38px;
  }
  main .intro .watch-detail .watch-desc {
    font-size: 16px;
  }
  main .about {
    background-size: 150px;
  }
  main .about p {
    padding: 0px 50px 0px 50px;
    font-size: 2.348vw;
  }
  main .about img {
    max-height: 300px;
    width: auto;
  }
  main .feature-section .feature-heading {
    font-size: 18px;
  }
  main .feature-section .features-container {
    grid-template-areas: "feature-1 feature-2" "feature-3 feature-4" "feature-5 feature-6";
  }
  main .feature-section .features-container .feature img {
    height: 80%;
    width: 80%;
  }
  main .collection-heading {
    font-size: 18px;
  }
  footer {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer .News h1 {
    margin-top: 50px;
    text-align: center;
  }
  footer .News label, footer .News p {
    justify-self: center;
    width: 70%;
  }
  footer .News .social-media ul {
    justify-content: center;
  }
  .login-bg, .signup-bg {
    background-size: 150px;
  }
  .login-bg .login-bg-2 .login-box, .signup-bg .login-bg-2 .login-box, .signup-bg .signup-bg-2 .login-box, .signup-bg .signup-bg-2 .signup-box {
    width: 50%;
  }
}
@media (max-width: 719px) {
  header nav ul .button {
    width: 70%;
  }
  main .intro {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "image" "detail";
  }
  main .intro img {
    width: 50%;
  }
  main .intro .watch-detail {
    padding-right: 0px;
    margin-top: 10px;
  }
  main .intro .watch-detail .collab {
    font-size: 16px;
  }
  main .intro .watch-detail .watch-title {
    font-size: 32px;
  }
  main .intro .watch-detail .watch-desc {
    font-size: 16px;
  }
  main .intro button {
    padding: 10px 20px 10px 20px;
    font-size: 22px;
    width: 90%;
    margin: 15px;
    margin-bottom: 0%;
  }
  main .intro .Cart {
    margin-left: 15px;
    margin-top: 0px;
  }
  main .about img {
    display: none;
  }
  main .about p {
    font-size: 24px;
  }
  main .feature-section .features-container {
    grid-auto-columns: minmax(100px, 0.9fr);
    display: grid;
    justify-content: center;
    grid-template-areas: "feature-1" "feature-2" "feature-3" "feature-4" "feature-5" "feature-6";
  }
  main .feature-section .features-container .feature img {
    height: 70%;
    width: 70%;
  }
}
@media (max-width: 564px) {
  footer .links {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */